<!DOCTYPE html>
<html ng-app="gamerland">
<head>

    <meta charset="utf-8" />
    <title>GamerLand</title>
    <link rel="stylesheet" href="thirdparty-js/bootstrap.min.3.3.7.css" />
    <link rel="stylesheet" href="thirdparty-js/ngtable.min.1.0.0.css" />
    
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Gamerland</a>
    </div>
    <ul class="nav navbar-nav">
      <!--li class="active"><a href="#">Home</a></li-->
	  <li><a ng-if="authen" href="#/rnd">RnD</a></li>
	  <li role="presentation" class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	      Email <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	      <li><a ng-if="authen" href="#/email-all">Email-All</a></li>
		  <li><a ng-if="authen" href="#/email-tmplte">Email templates</a></li>
	    </ul>
	  </li>
	  
	  <!--li><a ng-if="authen" href="#/fileupload">File Upload</a></li>
      <li><a ng-if="authen" href="#/editcmpnships/1">Edit Championships</a></li-->
      
      <li role="presentation" class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	      Championship <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	      <li><a ng-if="authen" href="#/championships">Show all</a></li>
      	<li><a ng-if="authen" href="#/addcmpnships">Add New</a></li>
	    </ul>
	  </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a ng-if="authen" href="#/logout">Logout</a></li> 
    </ul>
  </div>
</nav>

	<div class="container">
		<div class="col-sm-12">
			<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
			<div ng-view></div>
		</div>
	</div>

    <script src="thirdparty-js/jquery-3.1.0.slim.min.js"></script>
    <script src="thirdparty-js/angular.min.1.5.8.js"></script>
    <script src="thirdparty-js/angular-route.1.5.8.min.js"></script>
    <script src="thirdparty-js/angular-cookies.1.5.8.min.js"></script>
    <script src="thirdparty-js/angular-resource.1.5.8.min.js"></script>
    <script src="thirdparty-js/angular-animate.1.5.8.min.js"></script>
    <script src="thirdparty-js/angular-touch.1.5.8.min.js"></script>
    
    <script src="thirdparty-js/bootstrap.min.3.3.7.js"></script>
    <script src="thirdparty-js/ngtable.min.1.0.0.js"></script>
	<script src="thirdparty-js/ng-file-upload-all.min.js"></script>
	<script src="thirdparty-js/chart.bundle.2.2.1.min.js"></script>
	<script src="thirdparty-js/angular.chart.1.0.1.min.js"></script>
    
    <script src="gamerland.js"></script>
    <script src="gamerland.service.js"></script>
    <script src="gamerland.controller.js"></script>
</body>
</html>