<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>

<h3>{{vm.message}}</h3>
<table ng-table ="usersTable" class="table table-condensed table-bordered table-striped">
<tr ng-repeat="r in records">
<td data-title="'Name'">{{r.c1}}</td>
<!-- td data-title="'Age'"><img src="http://omega-solutions.in/championship/Images/{{r.c2}}"/></td -->
<td data-title="'Age'">{{r.c2}}</td>
<td data-title="'Location'">{{r.c3}}</td>
</tr>
</table>

<p>&nbsp;</p>
<p><a href="#/logout" class="btn btn-primary">Logout</a></p>